/* .App {
  width: 100vw;
  height: 100vh;
}

body{
  margin: 0;
  padding: 0;
}

.Aside{
  height: 100%;
  width: 250;
}

.app-container{
  display: grid;
  grid-template-columns: auto 1fr;
  text-decoration: none;
}

.app-container_aside{
  padding: 0 0 0 5px;
}

.app-container_content{
  display: grid;
  justify-content: center;
  grid-template-columns: 95%;
} */